<div class="content-container container">
  <div class="overview content-item visible">
    Overview
  </div>
  <div class="projects content-item">
    projects
  </div>
  <div class="contact content-item">
    contact
  </div>
</div>
