<div id="formModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <%= render  "shared/success" %>
    <%= render  "shared/failed" %>
    <form id="message-form">
      <h5>Email</h5>
      <input type="email" id="email" size="30" required />
      <h5>Name</h5>
      <input type="text" id="name" size="30" autocomplete="off" required />
      <h5>Message</h5>
      <textarea class="text-area" placeholder="Send me a message and I'll get back to you as quickly as I can"></textarea>
      <button class="btn-flat--submit" id='send-message'>Send</button>
    </form>
  </div>
</div>
