<div id="github__info" style="display: none">
  <p class="banner__sub-title"><span>Public Repositories: <strong id="repos">14</strong></span></p>
  <p class="banner__sub-title"><span>Followers: <strong id="followers">7</strong></span></p>
</div>
