<div class="header justify-content-center align-items-center p-3">
  <div>
    <h1 class="header__title">Explore my public projects</h1>
  </div>
  <div class="p-3">
    <input class="text-input" type="text" placeholder="react, rails.." />
  </div>
</div>
