<div class="header d-flex justify-content-center p-3">
  <ul id="tabs" class="list-inline tabs-underlined">
    <li>
      <span class="tab-underlined">Ruby</span>
    </li>
    <li>
      <span class="tab-underlined active">JavaScript</span>
    </li>
    <li>
      <span class="tab-underlined">Java</span>
    </li>
  </ul>
</div>
