<%= render 'shared/banner' %>
<div class="bottom" id="bottom-half">
  <div class="search-nav sticky-top">
    <%= render 'shared/header' %>
    <%= render 'shared/input' %>
  </div>
  <%= render 'shared/content' %>
</div>
