<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Name: <%= @message.name %></h1>
    <h1>Email: <%= @message.email %></h1>
    <p>-Message-</p>
    <p><%= @message.text %><br></p>
  </body>
</html>
