.banner {
  background-size: cover;
  background-position: top;
  padding: $m-size;
  width: 100vw;
  background-color: #95D4D9;
  text-align: center;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(235,235, 245,0.1);
    font-size: 32px;
    font-weight: bold;
  }
  p.banner__sub-title {
    font-size: 20px;
    color: white;
    font-weight: 300;
  }
  
}

.banner__sub-title {
  font-weight: 300;
  font-size: $font-size-large;
  font-family: $body-font;
  font-size: $font-size-small;
  margin-top: $s-size;
}
.name {
  font-family: 'Galada', cursive;
}

.stack {
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $m-size;
  }
}

#personal-info {
  @media (max-width: $desktop-breakpoint) {
    padding: 4rem;
    bottom: 0;
    margin: auto;
  }
}
