.btn-ghost {
  color: whitesmoke;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: white;
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  margin: 1rem 1rem 1rem 0;
  border-radius: 4px;
  // background: #1EDD88; 
  transition: background 0.3s ease;
  @media (min-width: $desktop-breakpoint) {
    margin-right: $m-size;
  }
}

.btn-flat:hover {
  //background: #1BCB7F;
  background: #AE6D74;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: #1EDD88;
  color: white;
}
.btn-icon {
  font-size: 3rem;
}
#btn-arrow {
  margin: 0 auto;
}

.btn-flat--submit {
  @extend .btn-flat;
  font-size: 1.8rem;
  display: inline-block;
  font-weight: 300;
  line-height: 1;
  width: 12rem;
}
