.cards {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  flex-basis: auto;
}
.card {
  width: 90%!important;
  height: 16rem;
  color: $dark-grey;
  transition: background .3s ease;
  margin: 16px auto;
  @media (min-width: $desktop-breakpoint) {
    width: 25rem!important;
    height: 18rem;
  }
  &:hover {
    background: $off-white;
  }
}
.card-body {
  padding: 0;
}
.card-title {
  padding: $m-size;
  height: 5rem;
  text-overflow: ellipsis;
  font-size: $font-size-medium;
  background: #25283D;
  color: $off-white;
  overflow: hidden;
white-space: nowrap;
}
.card-subtitle {
  padding: 1rem $s-size 0 $s-size;
  margin-bottom: 1rem;
}

.card-text {
  padding: 1rem $s-size 0 $s-size;
}
.card-link {
  position: absolute;
  bottom: $s-size;
  left: $s-size;
}
