#email, #name {
  border: 1px solid #cacccd;
  height: 4rem;
  padding: 1.2rem;
  font-size: 1.8rem;

}
#send-message {
  color: black;
  line-height: 1.2;
  font-size: 1.25rem;
  &:hover {
    color: white;
  }
}
form {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: $m-size;
    font-weight: 300;
  }
}

.text-area {
  height: 12rem;
  padding: 1.2rem;
  font-size: 1.8rem;
}
