.bottom {
  height: 100vh;
}
p {
  margin: 0;
}
#cv-icon {
  height: 3rem;
  vertical-align: text-bottom;
}
#top-half{
  @media (max-width: $desktop-breakpoint) {
    display: flex;
    justify-content: space-around;
  }
}

.search-nav {
  background-color: red;
  z-index: 1;
}